
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	margin: 20px;
}

/* head top of page */

h1 {
	background: url(images/bighead.jpg);
	background-repeat: no-repeat;
	width: 100%;
	margin: 10px;
	padding: 150px;
	color: 	#2E8B57;
	letter-spacing: 4px;
	font-size: 3em;
	font-family: helvetica, sans-serif;
	text-transform: uppercase;

}
 
 nav i {
 	float: right;
 	color: #FFD700;
 }


/* main navigation */

.navigation {
	list-style-type: none;


}

.navigation a {
	text-decoration: none;
	color: #008000;
	font-size: 1em;
	letter-spacing: 4px;
}

.navigation a:hover {
	color: #FFD700;
}


/* headers */

h2, h3 {
	font-size: 1em;
	color: #008000;
	font-family: helvetica, sans-serif;
}



/* amenities */

.icons ul {
	list-style-type: none;
	float: left;
	margin: 20px;
	color: #FFD700;
}


/* cabin thumbnails */
.gallery {
	float: left;
	width: 50%;
	height: 100%;
	position: relative;

}

.gallery_images {
	display: block;
	position: relative;
}

.gallery h2 {
	position: absolute;
	margin: 0 auto;
	top: 65%;
	left: 60%;
	color: #B0E0E6;
	font-size: 1.5em;
	
}

p {
	text-decoration: none;
}

/* footer */

footer {
	clear: both;
	text-align: center;
	margin: 5px;
	padding: 5px;
}