
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	margin: 20px;
	padding: 10px;
}

/* head top of page */

h1 {
	background: url(images/bighead-2.jpg);
	background-repeat: no-repeat;
	width: 100%;
	margin: 10px;
	padding: 150px;
	color: 	#2E8B57;
	text-align: top-left;
	letter-spacing: 4px;
	font-size: 3em;
	font-family: helvetica, sans-serif;
	text-transform: uppercase;

}
 
 nav i {
 	float: right;
 	color: #FFD700;

 }


/* main navigation */

.navigation {
	list-style-type: none;



}

.navigation a {
	text-decoration: none;
	color: #008000;
	font-size: 1.5em;
	letter-spacing: 4px;
	padding: 0px 8px;
	margin: 0 auto;
}

.navigation a:hover {
	color: #FFD700;
}


/* headers */

h2, h3 {
	font-size: 1em;
	color: #008000;
	font-family: helvetica, sans-serif;
}



/* amenities */

.icons ul {
	list-style-type: none;
	float: right;
	margin: 0 auto;
	padding: 0px 10px;
	color: #FFD700;
	overflow: hidden;
}

li {
	float: left;
}

.icons li {
	display: block;
	text-align: center;
	padding: 10px 10px;
}


/* cabin thumbnails */
.gallery {
	float: left;
	width: 50%;
	height: 100%;
	position: relative;

}

.gallery_images {
	display: block;
	position: relative;
}

.gallery h2 {
	position: absolute;
	margin: 0 auto;
	top: 1%;
	left: 60%;
	color: #008000;
	background-color: hsla(0, 100%, 100%, 0.7);
	font-size: 1.5em;
	
}

.gallery a {
	text-decoration: none;
}


p {
	color: #000;
	width: 50%;
	}



/* map and newsletter */
.map {
	text-align: center;
	padding: 15px;
	clear: both;
}

input[type=submit] {
	background-color: #fff;
	font: helvetica, sans-serif;
	border: 2px solid #B0E0E6;

}


/* footer */

footer {
	font-size: .5em;
	margin: 2px;
	padding: 2px;
}